NEXT_PUBLIC_BASE_API_URL=http://localhost:3001
NEXT_PUBLIC_PAYPAL_CLIENT_ID=AVQBT6GvZ8cmfYMADcEx785ZwfSF3jR2ljLam6MK4sebkb-p8gsmhu_ngDg0Ld-_FKQlkX1YTZje7sVf
NEXT_PUBLIC_SUBSCRIPTIONID="P-51P18925LT462972LMRM2K2I"